@use 'button' as *;
@use 'inputs' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span {
    margin: 0;
}

//* {
//  margin: 0;
//  padding: 0;
//  box-sizing: border-box;
//}
//#app {
//}
